[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sqlalchemy = "*"
requests = "*"
pymongo = "*"
great-expectations = "*"
wheel = "*"
setuptools = "*"
acryl-datahub = "*"

[dev-packages]

[requires]
python_version = "3.9"
